{% load static %}
<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								&copy;<a class="text-muted" href="https://instagram.com/ikhsansudira" target="_blank">
									<strong>2026 OSIS SMK Yaspia. Semua Hak Dilindungi.</strong></a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="{% static 'dashboard/js/app.js' %} "></script>
	<script src="{% static 'dashboard/DataTables/datatables.min.js' %} "></script>

	{% comment %} sweet alert {% endcomment %}
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: "{% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% else %}info{% endif %}",
                    title: "{% if message.tags == 'error' %}Gagal!{% else %}Berhasil!{% endif %}",
                    text: "{{ message }}",
                    confirmButtonColor: '#3085d6',
                    timer: 3000,
                    timerProgressBar: true
                });
            {% endfor %}
        {% endif %}
    });
</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
			var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,
				prevArrow: "<span title=\"Previous month\">&laquo;</span>",
				nextArrow: "<span title=\"Next month\">&raquo;</span>",
				defaultDate: defaultDate
			});
		});
	</script>
	<script>
	$(document).ready(function() {
    $('#myTable').DataTable({
        "paging": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "scrollX": true, // Pastikan ada koma di sini
        "responsive": true,
        "layout": {
            topStart: {
                features: [
                    {
                        // Menambahkan margin agar tidak mepet ke pinggir
                        pageLength: {
                            select: [10, 25, 50, 100]
                        }
                    }
                ]
            },
            topEnd: 'search',
            bottomStart: 'info',
            bottomEnd: 'paging'
        }
    });
});

function confirmLogout() {
    if (confirm("Apakah Anda yakin ingin logout?")) {
        document.getElementById('logout-form').submit();
    }
}
	</script>

</body>

</html>