{% extends "dashboard/layouts/base_dashboard.html" %} 

{% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>List</strong> Gallery</h1>

					<div class="row">
						<div class="col-12 col-lg-12 col-xxl-9 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Daftar Foto OSIS</h5>
								</div>
								<div class="card-body">
									<a class="btn btn-success w-25" href="{% url 'dashboard:add_gallery' %} ">
										<i class="align-middle fw-bold " data-feather="plus-square"></i>
										Tambah Foto
									</a>
								<table class="table table-hover my-0 display" id="myTable">
									<thead>
										<tr>
											<th>Title</th>
											<th class="d-none d-xl-table-cell">Date Publish</th>
											<th class="d-none d-xl-table-cell">Category</th>
											<th>Status</th>
											<th class="d-none d-md-table-cell">Action</th>
										</tr>
									</thead>
									<tbody>
										
										{% for gal in list_gallery  %}
										<tr>
											<td>{{ gal.title }} </td>
											<td class="d-none d-xl-table-cell">{{ gal.created_at|date:"d M Y" }} </td>
											<td class="d-none d-xl-table-cell">{{ gal.category }} </td>
											<td>
												{% if gal.status == 'draft' %}
												<span class="badge bg-danger">draft</span>
												{% else %}
												<span class="badge bg-success">Publish</span>
												{% endif %}
											</td>
											<td class="d-none d-xl-table-cell">
												<a href="{% url 'dashboard:edit_gallery' gal.id %}" class="btn btn-primary"><i class="align-middle" data-feather="edit"></i></a>  |
												<a href="{% url 'dashboard:detail_gallery' gal.id %}" class="btn btn-success"><i class="align-middle" data-feather="eye"></i></a>  |
												<form action="{% url 'dashboard:delete_gallery' gal.id %}" method="POST" style="display:inline;" onsubmit="return confirm('Yakin ingin menghapus data ini?');">
													{% csrf_token %}
													<button type="submit" class="btn btn-danger">
														<i class="align-middle" data-feather="trash"></i>
													</button>
												</form>
											</td>
										</tr>
										
										{% endfor %}
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
			
{% endblock content %}

			